@charset "utf-8";
html,body {
    font-size: 62.5%;
}
#wrap {
    max-width: 80vw;
    margin: 0 auto;
}
/* Header */
header .logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 80px;
    background: #000;
    align-items: center;
    padding: 0 16px;
    color: #fff;
}
.logo h1 {
    font-size: 1.6rem;
    font-family: 'Oswald',sans-serif;
}
.logo aside {
    font-size: 1.4rem;
    font-family: 'Roboto', sans-serif;
}
.logo aside > strong {
    font-weight: bold;
}

.gnb {
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    padding: 0 10%;
}
.gnb ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #000;
}

/* Content */
main {
    height: 60vh;
    background: #f9f9f9;
}

main .frame {
    display: flex;
    flex-flow: row nowrap;
    padding: 24px;
}
/* 왼쪽 메뉴 */
.frame .lnb {
    width: 16vw;
    font-size: 1.4rem;
    padding-top: 32px;
    padding-bottom: 100px;
}
.frame .lnb li {
    margin-bottom: 32px;
}

/* 콘텐츠 */
.frame .contents {
    width: 70vw;
    font-size: 1.6rem;
    padding-top: 32px;
}

/* Footer */
footer {
    height: 40px;
    background: #000;
    color: #fff;
    text-align: center;
}
footer p {
    line-height: 40px;
    font-size: 1.3rem;
}

/* 로그인 */
.contents table {
    width: 600px;
    margin: 0 auto;
}

/* 이미지 */
.contents img {
	width: 10%;
}










